[Desktop Entry]
Encoding=UTF-8
Name=ITIS
Comment=ITIS P2P Cryptocurrency
Comment[fr]=ITIS, monnaie virtuelle cryptographique pair à pair
Comment[tr]=ITIS, eşten eşe kriptografik sanal para birimi
Exec=itis-qt %u
Terminal=false
Type=Application
Icon=itis128
MimeType=x-scheme-handler/itis;
Categories=Office;Finance;
